PROMPT='%1~%# '
alias ll='ls -Fal'

# https://formulae.brew.sh/formula/zsh-completions
if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh-completions:$FPATH

  autoload -Uz compinit
  compinit

  [ -d "$(brew --prefix)/share/zsh" ] && chmod -R go-w "$(brew --prefix)/share/zsh"
fi
